{% load static %}
<!DOCTYPE html>

<html lang="pt-br">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>ArteShay.com.br</title>

	<!-- CSS -->
	<link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
	<link href="{% static "css/style.css" %}" rel="stylesheet">
	{% block css_specifc %}
	{% endblock %}
</head>

<body>

	{% include 'menu.html' %}

	{% block container %}
	{% endblock %}

	<footer class="footer">
        <!-- Copyright etc -->
    	<div class="container">
    		<p class="text-center">© 2017 - Rodrigo Araujo.</p>
    	</div>
    </footer>

	<!-- JavaScript -->
	<script src="{% static "js/jquery-1.12.4.min.js" %}"></script>
	<script src="{% static "js/bootstrap.min.js" %}"></script>

	{% block js_global %}
	{% endblock %}
</body>
</html>
