{% load static %}
<header>
	<nav class="navbar navbar-default">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#collapse-navbar" aria-expanded="false">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>

				<a class="navbar-brand" href="{% url 'home' %}">ArteShay
					{# <img id="brand-image" src="#" alt="Achaempregos" ></img>#}
				</a>
                <div class="navbar-brand navbar-right">
                    {# <span>Bem-vindo {{ user.first_name }} </span><br >#}
                </div>
			</div>

			<div class="collapse navbar-collapse" id="collapse-navbar">
				<ul class="nav navbar-nav navbar-right">

                    {% if user.is_authenticated %}
                        <li>
                            <a href="3" class="text-uppercase">Bibliografia</a>
                        </li>
                        <li>
                            <a href="#" class="text-uppercase">Galeria</a>
                        </li>
                        <li>
                            <a href="#" class="text-uppercase">Venda</a>
                        </li>
                        <li>
                            <a href="#" class="text-uppercase">Fale Conosco </a>
                        </li>
                        <li>
                            <a href="#" class="text-uppercase"></a>
                        </li>
                        <li>
                            <a href="" class="text-uppercase"></a>
                        </li>
                        <li>
                            <a href="" class="text-uppercase"></a>
                        </li>
                        <li>
                            <a href="{% url 'logout' %}" class="text-uppercase">
                                <i class=" glyphicon glyphicon-log-out"></i>
                                <span>Sair</span>
                            </a>
                        </li>
                    {% else %}
                        <li>
                            <a href="{% url 'login' %}" class="text-uppercase">Login</a>
                        </li>
                        <li>
                            <a href="3" class="text-uppercase">Bibliografia</a>
                        </li>
                        <li>
                            <a href="#" class="text-uppercase">Galeria</a>
                        </li>
                        <li>
                            <a href="#" class="text-uppercase">Venda</a>
                        </li>
                        <li>
                            <a href="#" class="text-uppercase">Fale Conosco </a>
                        </li>
                        <li>
                            <a href="#" class="text-uppercase"></a>
                        </li>
                        <li>
                            <a href="" class="text-uppercase"></a>
                        </li>
                        <li>
                            <a href="" class="text-uppercase"></a>
                        </li>
                    {% endif %}
				</ul>
			</div>
		</div>
	</nav>
</header>
